<div class="container devis-panel">
	<div class="row">
    <h2 class="text-left">Resend unlock instructions</h2>
		<div class="panel-body">
			<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group">
			    <%= f.label :email %>
			    <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
			  </div>

			  <div class="form-group">
			    <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
			  </div>
			<% end %>
		</div>
    <div class="text-left">
    	<%= render 'devise/shared/links' %>
  	</div>
	</div>
</div>