<div class="row my-5">
  <div class="col-xs-12 col-md-4 col-xs-1">
    <%= image_tag 'https://placeholdit.co//i/417x294', class: 'img-fluid', alt: 'organisation image' %>
  </div>
  <div class="col-xs-12 col-md-8 ">
    <h1><%= @organisation.name %></h2>
    </br>
    <p>TYPE</p>

    <div id="organisation-adress">
      <p class="mb-0">Adress Line, City</p>
      <p>Phone no +12 345 678 90 | @email</p>
    </div>

    <div class="organisation-socials">
      <%= link_to "Facebook", "#", class: "px-2" %>
      <%= link_to "LinkedIn", "#", class: "px-2" %>
      <%= link_to "Contact:", "#", class: "px-2" %>
      <%= image_tag 'https://placeholdit.co//i/65x66', class: 'img-fluid rounded-circle px-2', alt: 'organisation creator image' %>
      <span>Organization Creator?</span>
    </div>

    <div class="organisation-description">
      <p><%= truncate("Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi inventore saepe laboriosam. Est eos accusantium, eius neque, sed quisquam praesentium debitis quos delectus vitae quam dignissimos ipsa repellat iure.", length: 25) { link_to "more", "#" } %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <h3>PROJECTS INVOLVED</h2>

    <div class="card-deck">
      <% render @projects %>
    </div>
  </div>
</div>
