<% if project_counter % 3 === 0 %>
  <div class="w-100 pb-3"></div>
<% end %>

<%= link_to project, class: 'project-card card bg-dark text-white' do %>
  <%= image_tag project.default_image(:medium), class: 'card-img-top', alt: "#{project.name}" %>

  <div class="card-img-overlay">
    <% if project.budget_completed_percentage? %>
      <%= render 'projects/progress_bar', percent: project.budget_completed_percentage %>
    <% end %>

    <div class="row">
      <div class="col-6 text-truncate">
        <p class="text-left"><%= number_to_currency(project.collected_budget) %></p>
      </div>

      <div class="col-6 text-truncate">
        <p class="text-right"><%= distance_of_time_in_words_to_now(project.finish_on) %></p>
      </div>
    </div>

    <span>#<%= project.sort_order %></span>

    <h4 class="card-title">
      <%= project.name %>
    </h4>
  </div>
<% end %>
