<div class="card bg-dark text-white">
  <div class="card-header">
    <%= project.collected_budget %>
    <%= project.finish_on %>
  </div>
  <%= image_tag project.decorate.image_src, class: 'card-img-top', alt: "#{project.name}" %>

  <div class="card-img-overlay">
    <%= link_to project do %>
      <p class="card-text">#<%= project.sort_order %></p>
      <h4 class="card-title"><%= project.name %></h4>
    <% end %>
  </div>
</div>
