<div class="project-card card bg-dark text-white">
  <%= image_tag project.decorate.image_src, class: 'card-img-top', alt: "#{project.name}" %>

  <div class="card-img-overlay">
    <div class="row">
      <div class="col-6 text-truncate">
        <p class="text-left"><%= project.collected_budget %></p>
      </div>

      <div class="col-6 text-truncate">
        <p class="text-right"><%= distance_of_time_in_words_to_now(project.finish_on) %></p>
      </div>
    </div>

    <span>#<%= project.sort_order %></span>

    <h4 class="card-title">
      <%= link_to project.name, project %>
    </h4>
  </div>
</div>
