<div class="project-info-header">
  <h1><%= @project.name %></h1>
  <h6>CATEGORY | <%= link_to 'Location (stub)', @project.location %></h6>
</div>
<div class="project-info-grid">
  <div class="project-info-content">
    <!--LEFT SIDE CONTENT-->
    <div class="project-info-multimedia">
      <!--VIDEOS/PICS-->
    </div>
    <div class="project-info-description">
      <%= @project.description %>
    </div>
  </div>
  <div class="project-info-sidebar">
    <!--RIGHT SIDE CONTENT-->
    <div class="project-statistics">
      <span class="project-popularity">
        <span class="popularity-highlight">
          #<%= @project.id %>
        </span> Top Growing Project
      </span>
      <div class="progress">
        <div class="progress-bar" role="progressbar"></div>
      </div>
      <h6><%= number_to_currency @project.collected_budget %> PLN</h6>
      <p>of <%= number_to_currency @project.required_budget %>PLN goal</p>
      <h6><!--%= @project.users.count %--> 'nil' people backed this up</h6>
    </div>
    <div class="project-actions">
      <button class="btn btn-lg wtc-btn wtc-btn-green">BACK THIS PROJECT</button>
      <button class="btn btn-lg wtc-btn wtc-btn-outline-green">+ NEED: IT SKILLS</button>
      <button class="btn btn-lg wtc-btn wtc-btn-outline-green">+ NEED: MEETING PLACE</button>
    </div>
    <div class="project-backer-info">
      2 People and 1 Organisation helped with their resources.
      <%= link_to 'What\'s that about?' %>
    </div>
    <div class="project-social-info">
      <button class="btn btn-lg wtc-btn wtc-btn-fb">SHARE TO HELP!</button>
      <a class="btn btn-lg btn-link wtc-btn">Friend and 2481 others shared or liked it</a>
    </div>

    <div class="project-executives">
      <section class="project-sponsors">
        <h5>SPONSORS</h5>
        <button class="btn btn-lg btn-link"></button>
      </section>
      <section class="project-team">
        <h5>PROJECT TEAM</h5>
        <button class="btn btn-lg btn-link project-team-leader">Leader Megatron</button>
        <span class="project-team-members"></span>
      </section>
    </div>
    <div class="report-project">
      <a class="btn btn-lg btn-link" href=""><img class="img-fluid"/> REPORT THIS PROJECT</a>
    </div>
  </div>
</div>
