<div class="container devis-admin-panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="form-signin-heading"><%= t('.sign_in') %></h2>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
        <div class="form-group row">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group row">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        </div>
        <div class="form-group row">
          <% if devise_mapping.rememberable? %>
            <div class="checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        <div class="form-group row">
          <%= f.submit t('.sign_in'), { class: 'btn btn-primary' } %>
        </div>
      <% end %>
      <div class="text-left row">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>

</div>