<!DOCTYPE html>
<html>
  <head>
    <title>WeThe.City</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
