<!DOCTYPE html>
<html>
<head>
  <title>WeThe.city</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="main-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= url_for(action: 'index', controller: 'home') %>">
        WE, THE CITY
      </a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <!--additional navbar buttons-->
    </div>
  </div>
</nav>
<div class="container-fluid">
  <%= flash_messages %>
  <%= yield %>
</div>
</body>
</html>
