<div class="row my-5">
  <div class="col-xs-12 col-md-4 col-xs-1">
    <%= image_tag @account.logo.medium, class: 'img-fluid', alt: 'account image' %>
  </div>

  <div class="col-xs-12 col-md-8 ">
    <h1><%= @account.name %></h1>
    <p>TYPE</p>

    <div id="account-adress">
      <p class="mb-0"><%= @account.address %></p>
      <p>Phone no. <%= @account.phone_number %> | <%= @account.email %></p>
    </div>

    <div class="account-socials">
      <%= social_media_urls(@account) %>
    </div>

    <div class="my-4">
      <h3>Members</h3>

      <ul class="list-unstyled d-flex flex-wrap">
        <% @account.users.each do |user| %>
          <li class="media pt-4 pr-3">
            <%= link_to user do %>
              <%= image_tag user.avatar.thumb, class: 'img-thumbnail rounded-circle', alt: user.full_name %>
              <span><%= user.full_name %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="account-description">
      <p><%= markdown(@account.description) %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-7">
    <h3>PROJECTS INVOLVED</h2>

    <div class="card-deck">
      <%= render @projects %>
    </div>
  </div>
</div>
