<div class="row my-5">
  <div class="col-xs-12 col-md-4 col-xs-1">
    <%= image_tag '', class: 'img-fluid', alt: 'account image', data: { src: 'holder.js/400x300' } %>
  </div>
  <div class="col-xs-12 col-md-8 ">
    <h1><%= @account.name %></h2>
    </br>
    <p>TYPE</p>

    <div id="account-adress">
      <p class="mb-0"><%= @account.address %></p>
      <p>Phone no. <%= @account.phone_number %> | <%= @account.email %></p>
    </div>

    <div class="account-socials">
      <%= link_to "Website", @account.homepage_website %><span class="px-2">|</span>
      <%= link_to "Facebook", @account.try(:linkedin_website) %><span class="px-2">|</span>
      <%= link_to "LinkedIn", "#" %>
    </div>
    
    <div class="my-4">
      <h3>Members</h3>
      <ul class="list-unstyled d-flex flex-wrap">
        <li class="media pt-4 pr-3">
          <%= image_tag '', class: 'pr-1', alt: 'member image', data: { src: 'holder.js/80x80' } %>
          <div class="media-body align-self-center">
            <h5 class="mt-0 mb-1"> Name Surname</h5>
          </div>
        </li>
        <li class="media pt-4 pr-3">
          <%= image_tag '', class: 'pr-1', alt: 'member image', data: { src: 'holder.js/80x80' } %>
          <div class="media-body align-self-center">
            <h5 class="mt-0 mb-1">Name Surname</h5>
          </div>
        </li>
        <li class="media pt-4 pr-3">
          <%= image_tag '', class: 'pr-1', alt: 'member image', data: { src: 'holder.js/80x80' } %>
          <div class="media-body align-self-center">
            <h5 class="mt-0 mb-1">Name Surname</h5>
          </div>
        </li>
      </ul>
    </div>

    <div class="account-description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consequatur fugiat molestias at mollitia a magni enim rem aliquam, aspernatur recusandae explicabo animi laudantium neque, praesentium dignissimos autem architecto maiores fugit omnis quisquam ad quo labore dolore! Quibusdam, nemo, iste.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <h3>PROJECTS INVOLVED</h2>

    <div class="card-deck">
      <%= render @projects %>
    </div>
  </div>
</div>
