<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle"><%= t('.edit_profile') %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_for @user, as: :user, url: registration_path(@user) do |f| %>
      <div class="modal-body">
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :volunteer %><br />
          <%= f.select :volunteer, options_for_select([true, false]), {}, { class: 'form-control' } %>
        </div>
        <h5>What you can deliver:</h5>
        <div id="skill-resources">
          <%= f.fields_for :resources do |skill| %>
            <%= render 'skill_fields', f: skill %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'add skill', f, :resources, partial: 'skill_fields' %>
          </div>
        </div>
        <h5>Assets:</h5>
        <div id="asset-resources">
          <%= f.fields_for :resources do |asset| %>
            <%= render 'asset_fields', f: asset %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'add asset', f, :resources, partial: 'asset_fields' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') %></button>
        <%= f.submit t('.update'), { class: 'btn btn-primary btn-block' } %>
      </div>
    <% end %>
  </div>
</div>
